<!DOCTYPE html>
<html lang="en">
<head xmlns="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="index.css" type="text/css"></link>


    <script src="index.js"></script>

    <script src="../static/script/public_file/JQuery.js"></script>

</head>




<body>

    <div class="box1">

        <!--  导航栏部分  -->
        <div class="box1-left">
        <ul class="left-ul1">
            <li class="main">
                <a href="#">功能介绍</a>
                <ul class="left-ul2">
                    <li><a href="#mao1">动图</a></li>
                    <li><a href="#mao2">增加节点</a></li>
                    <li><a href="#mao3">注册</a></li>
                </ul>
            </li>
            <li class="main">
                <a href="#">菜单一</a>
                <ul class="left-ul2">
                    <li><a href="javascript:;">子菜单1</a></li>
                    <li><a href="javascript:;">子菜单2</a></li>
                    <li><a href="javascript:;">子菜单3</a></li>
                </ul>
            </li>
            <li class="main">
                <a href="#">菜单二</a>
                <ul class="left-ul2">
                    <li><a href="javascript:;">子菜单1</a></li>
                    <li><a href="javascript:;">子菜单2</a></li>
                    <li><a href="javascript:;">子菜单3</a></li>
                </ul>
            </li>
            <li class="main">
                <a href="#">菜单三</a>
                <ul class="left-ul2">
                    <li><a href="javascript:;">子菜单1</a></li>
                    <li><a href="javascript:;">子菜单2</a></li>
                    <li><a href="javascript:;">子菜单3</a></li>
                </ul>
            </li>
        </ul>
    </div>

        <!--  内容部分  -->
        <div class="box1-right">
        <a href="" name="mao1"></a>
        <div class="rbox1">
            <h2 style="margin-top:0px;">欢迎来到我的个人主页</h2>
        </div>
    </div>

    </div>

</body>








</html>